{
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "resourcePacksDir":"resource_packs/"
  },
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    }
  ],
  "buildDirs":[],
  "compile":[
    {
      "path":"preloader.js",
      "sourceType":"preloader"
    }
  ],
  "nativeDirs":[],
  "javaDirs": []
}